

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    max-width: 1110px;
    width: calc(100vw - 48px);
    margin: 100px auto;

    background-color: var(--page-bg);

}


.cards_ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    width: 100%;

}
#stats_bg{
    height: 118px;
    width: 100%;
    background-color: #282E6C;
}

.container  .cards_ct div{
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    max-width: 333px;
    height: 156px;
    border-radius: 12px;

    text-align: center;
    line-height: 156px;

}

.container .cards_ct div:nth-child(1){
    background-color: var(--primary-work-card);
}

.container .cards_ct div:nth-child(2){
    background-color: var(--primary-play-card);
}

.container .cards_ct div:nth-child(3){
    background-color: var(--primary-study-card);
}

.container .cards_ct div:nth-child(4){
    background-color: var(--primary-exercise-card);
}

.container .cards_ct div:nth-child(5){
    background-color: var(--primary-social-card);
}

.container .cards_ct div:nth-child(6){
    background-color: var(--primary-self-care-card);
}








.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}