@media screen and (min-width: 480px){

    .perfil_bg{
        height: 256px !important;
        max-width: 536px;

    }

    .container .cards_ct{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
    }

    .container .cards_ct div {
        height: 256px !important;
    }

    #stats_bg{
        height: 216px !important;
        width: 100%;
    }

}


@media screen and (min-width: 992px){

    .container{
        display: flex;
        flex-direction: row;
    }

    .container > div:first-child{
        height: 516px !important;
        width: 100%;
    }

    .container .cards_ct{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;

    }

    .container .cards_ct div {
        height: 244px !important;
        width: 256px !important;
    }
    
}