@media screen and (min-width: 500px){
    .container .cards_ct{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;

    }

    .container  .cards_ct div {
        background-color: red !important;
        height: 256px !important;
    }

    .perfil_bg{
        background-color:#282e6c;
        border-radius: 12px;
        height: 206px ;
        width: 100%;
        max-width: inherit;
    }
    
}


@media screen and (min-width: 900px){

    .container{
        display: flex;
        flex-direction: row;
    }

    .container > div:first-child{
        background-color:rgb(36, 174, 36);
        height: 516px !important;
        width: 100%;
    }

    .container .cards_ct{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;

    }

    .container  .cards_ct div {
        background-color: red !important;
        height: 244px !important;
        width: 256px !important;
    }
    
}